@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --background: #fff;
  --foreground: #000;
  --color1: #ff6f61; /* Buttons/CTAs */
  --color2: #f7b7a3; /* Background */
  --color3: #f9e79f; /* Highlight Sections */
  --color4: #a3d9b1; /* Navigation Bar/Accents */
  --color5: #2e8b57; /* Footer/Text */
}
